@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.2);
    color: transparent;
  }
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

body {
  background-color: #FAFAFA;
  background-image: 
    linear-gradient(to right, #E5E5E5 1px, transparent 1px),
    linear-gradient(to bottom, #E5E5E5 1px, transparent 1px);
  background-size: 50px 50px;
}
